.App {
  font-family: sans-serif;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  justify-content: space-around;
  flex-direction: row;
}

.display {
  display: flex;
  flex-direction: column;
  width: 300px;
  height: min-content;
}

.imagedisplay {
  object-fit: contain;
  width: 300px; 
  height: 250px;

}

.Name {
  color: red aqua;
}
.summ {
  margin: 0;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
}


.head{
  display: flex; 
  align-content: space-around;
  flex-wrap: wrap;
  justify-content: space-evenly;
  align-items: center;
}
.name{
  margin: 0;
}
.symbol{
  display: flex; 
  flex-wrap: wrap;
  justify-content: space-between;
  padding: 0;
  margin: 0;

}

.movie-container{
  display: flex;
  display: block;
}

.formlist{
  display: flex;
  flex-direction: column;
  gap:10px;
  margin: 15px;
}